.footer{
    background-color: inherit;
    color: #fff;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom: 30px;
    padding-left: 80px;
    width: 100vw;
}

.footer-items{
    font-family: 'EB Garamond', serif;
    color: lightgray;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-right: 40px;
    margin: 0px;
    text-decoration: none;


}

.logo-footer{
    font-family: 'Krona One', sans-serif;
}

.footer-item{
    /* border-bottom: 1px solid transparent; */
  /* transition: ease-in-out 0.2s; */
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(rgb(255, 255, 255) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
  
}

.footer-item:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
  
/* 
.footer-item:hover{
    border-color: white;
} */