.footer{
    background-color: inherit;
    color: #fff;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    position:fixed;
    bottom: 30px;
    padding-left: 80px;
    width: 100vw;
}

.footer-items{
    font-family: 'EB Garamond', serif;
    color: lightgray;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-right: 40px;
    margin: 0px;


}

.logo-footer{
    font-family: 'Krona One', sans-serif;
}