
.people{
    color: black;
    height: 10vh;
    width: 100vw;
    position:relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
   z-index: 90;
}

.ppeople{
    color: black;
    font-size: 1.2em;
    margin: 0;
}

.person{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    
}

.person__data{
    width: 200px;
}

.canva-container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

